body {
    margin: 0px;
    height: 100vh;
    width: 100%;
}

main {
    background-image: radial-gradient(at top right, #18a999, #109648);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#cont {
    margin: 30px 0px;
    height: 84%;
    border-radius: 25px;
    border: 4px solid #484349;
    background-color: #fff;
    position: relative;
}


.short {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

h1 {
    position: relative;
    color: white;
}

#cont i {
    font-size: 30px;
    /* position: relative; */
    cursor: pointer;
}

#play {
    position: absolute;
    top: 2%;
    left: 5%;
    color: white;
}

#volume {
    position: absolute;
    top: 2%;
    right: 3%;
    color: white;
}

#like {
    position: absolute;
    top: 30%;
    right: 2%;
    color: white;
}

#dislike {
    position: absolute;
    top: 43%;
    right: 3%;
    color: white;
}

#comment {
    position: absolute;
    top: 52%;
    right: 3%;
    color: white;
}

#share {
    position: absolute;
    top: 65%;
    right: 4%;
    color: white;
}

#copy {
    position: absolute;
    top: 33%;
    left: 5%;
    font-size: 25px;
    text-align: center;
    color: cyan;
    font-weight: bolder;
    display: none;
}

#notice{
    font-weight: bolder;
}