.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 3px 3px 6px white;
    border-radius: 10px;
    width: fit-content;
    background-color: rgb(0, 0, 0);
    /* position: relative;
    left: 520px; */
}

#head {
    text-align: center;
    color: white;
    text-shadow: 4px 4px 5px white;
    font-size: 30px;
}

.btn-box {
    display: grid;
    gap: 8px;
    justify-content: center;
    grid-template-rows: repeat(5, 50px);
    grid-template-columns: repeat(4, 60px);
    padding: 0px 1px;
}

.btn {
    display: flex;
    font-family: monospace;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(180, 163, 163, 0.265);
    border-radius: 30px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    box-shadow: 2px 2px 5px white;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(107, 98, 98, 0.624);
}

.btn:active {
    background-color: rgb(172, 108, 108);
}

#\= {
    background-color: rgb(116, 178, 249);
    color: white;
}

#\=:active {
    background-color: rgb(172, 108, 108);
}

#input-field {
    box-shadow: 2px 2px 5px white;
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 260px;
    font-size: 2.5rem;
    text-align: right;
    padding: 0px 4px;
}

#box {
    display: flex;
    justify-content: center;
}
